---
import "../styles/global.css";
import HeaderAdmin from "../components/HeaderAdmin.astro";
import Footer from "../components/Footer.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>Admin Dashboard | El Vecino</title>
  </head>

  <body class="bg-gradient-to-br from-gray-200 via-gray-400 to-gray-600 min-h-screen flex flex-col">
    <HeaderAdmin />

    <main class="flex-1 p-6 pt-28 flex flex-col">
      <slot /> <!-- Contenido dinámico de cada página -->
    </main>

    <Footer />
  </body>
</html>
