---
import "../styles/global.css";
import Landing from "../components/Landing.tsx";
---

<html lang="es" class="dark">
  <head>
    <meta charset="utf-8" />
    <title>Inicio | El Vecino</title>
  </head>

  <body class="bg-gradient-to-br from-gray-200 via-gray-400 to-gray-600 min-h-screen flex items-center justify-center">
    <Landing/>
  </body>
</html>
