---
import AdminLayout from '../../layouts/AdminLayout.astro';
import OperadorForm from '../../components/forms/OperadorForm.astro';
---
<AdminLayout>
  <h2>Editar Roles</h2>
  <OperadorForm />
</AdminLayout>
