---
export const prerender = false;

import AdminLayout from "../../../../layouts/AdminLayout.astro";
import EditarOperadorForm from "../../../../components/EditarOperadorForm.jsx";

const { id } = Astro.params;
---

<AdminLayout title={`Editar operador #${id}`}>
  <section class="max-w-2xl mx-auto">
    <h2 class="text-2xl font-bold mb-4 text-gray-800">
      Editar operador con ID: {id}
    </h2>

    <EditarOperadorForm id={id} client:load />
    
  </section>
</AdminLayout>