---
---
<aside style="width:200px; background:#f4f4f4; padding:1rem;">
  <ul>
    <li><a href="/admin">Inicio</a></li>
    <li><a href="/admin/proveedores">Proveedores</a></li>
    <li><a href="/admin/operadores">Operadores</a></li>
    <li><a href="/admin/roles">Roles</a></li>
  </ul>
</aside>
