---
---
<aside style="width:200px; background:#f4f4f4; padding:1rem;">
  <ul>
    <li><a href="/operador">Inicio</a></li>
    <li><a href="/operador/ventas">Ventas</a></li>
    <li><a href="/operador/productos">Productos</a></li>
    <li><a href="/operador/precios">Precios</a></li>
    <li><a href="/operador/stock">Stock</a></li>
    <li><a href="/operador/reportes">Reportes</a></li>
  </ul>
</aside>
