---
import AdminLayout from '../../layouts/AdminLayout.astro';
import ProveedorForm from '../../components/forms/ProveedorForm.astro';
---
<AdminLayout>
  <h2>Registrar Proveedores</h2>
  <ProveedorForm />
</AdminLayout>
